.about-container {
  width: 100%;
  background-color: #025048;
  height: 500px;
  position: relative;
  display: flex;
}

.about-container img {
  margin-top: 50px;
  position: absolute;
  right: 150px;
}

.main-about {
  width: 50%;
  margin-left: 150px;
  margin-top: 189px;
}

.main-about h1 {
  color: white;
  font-weight: 500;
  line-height: 72.6px;
  font-size: 66px;
  font-family: "Playfair Display", serif !important;
  margin-bottom: 20px;
}

.main-about p {
  color: white;
  font-family: "Work Sans", sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  width: 660px;
  letter-spacing: normal;
  text-align: start;
}

.story-container {
  width: 90%;
  margin: 50px 150px;
}

.story-container img {
  margin: auto;
}

.story-main {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.story-h1 {
  width: 1200px;
  margin-top: 80px;
}

.story-h1 p {
  margin-bottom: 20px;
  color: #025048;
  font-family: "Work Sans", sans-serif !important;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.story-h1 h1 {
  font-size: 48px;
  line-height: 57.6px;
  font-family: "Playfair Display", serif !important;
  letter-spacing: normal;
  color: #025048;
  width: 540px;
  font-weight: 500;
}

.story-p p {
  width: 600px;
  font-size: 16px;
  line-height: 24px;
  columns: #424b4a;
  letter-spacing: normal;
  margin-top: 100px;
}

.journey-container {
  display: flex;
  justify-content: flex-start;
  margin: 50px 150px;
}

.journey-main {
  width: 600px;
  margin-left: 80px;
}

.journey-main p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Work Sans", sans-serif !important;
  color: #424b4a;
}

.journey-main h1 {
  font-weight: 500;
  margin: 20px 0px;
  font-family: "Playfair Display", serif !important;
  font-size: 48px;
  line-height: 57.6px;
  color: #025048;
  letter-spacing: normal;
}

.vision-container {
  width: 90%;
  margin: 80px 150px;
  display: flex;
  justify-content: flex-start;
}

.vision-container h1 {
  font-family: "Playfair Display", serif !important;
  font-weight: 500;
  color: #025048;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 20px;
}

.vision p {
  padding-right: 70px;
  letter-spacing: normal;
  font-family: "Work Sans", sans-serif !important;
  font-size: 16px;
  color: #424b4a;
  line-height: 30px;
}

.goals p {
  padding-right: 90px;
  letter-spacing: normal;
  font-family: "Work Sans", sans-serif !important;
  font-size: 16px;
  color: #424b4a;
  line-height: 30px;
}
